 * {
    text-align: center;
}

body{
	background-image: url("Background.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
div {
	font-family: fantasy,tahoma,sans-serif;
	font-size: 200%;
	color: #D2691E ;

}
